<md-sidenav-container>
  <md-toolbar color="primary">
    <span>{{title}}</span>
    <span class="fill-space"></span>
    <button md-button (click)="sidenav.toggle()">
        <md-icon>list</md-icon>
    </button>
  </md-toolbar>
  <md-card style="height: 100%">
    <md-select placeholder="Level" #level required='true'>
      <md-option [value]="1" selected='true'>DEBUG</md-option>
      <md-option [value]="2">INFO</md-option>
      <md-option [value]="3">WARN</md-option>
      <md-option [value]="4">ERROR</md-option>
    </md-select>
    <br>
    <md-input-container>
      <input mdInput placeholder="Message" #message required='true'>
    </md-input-container>
    <br>
    <button md-button (click)="createLogMessage(level.selected.value, message.value)">Create log message</button>
  </md-card>
  <md-sidenav #sidenav align="end" mode="side">
    <ri-log-viewer></ri-log-viewer>
  </md-sidenav>
</md-sidenav-container>